
/* Your CSS Code here. */
table{
	border-style:solid;
	width:90vw
}
.head-part{
	background:lightcoral;
	color:white;
}
.row-1{
background:lightsalmon;
}
.row-2{
	background:lightyellow;
}
.row-3{
	background:lightcyan;
}
table tr td{
	text-align:right;
}
table tr td:first-child{
	text-align:left;
}
